{:kotoba.app/id "cloud.itonami.isic-561", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidfeggw7qvyozx6tea35dcecnc5myljvm5r5bwaquily7vitwfxg4", :kotoba.app/embed-url "ipfs://bafkreidfeggw7qvyozx6tea35dcecnc5myljvm5r5bwaquily7vitwfxg4", :published {:archive "https://kotobase.net/ipfs/bafkreidfeggw7qvyozx6tea35dcecnc5myljvm5r5bwaquily7vitwfxg4", :size 71960, :put-status 201, :get-status 200, :at "2026-08-15T13:32:50.727Z"}}
